#controlDiv
    p#controlDivTitle BadApple-播放控制
    h2 有屏幕的地方就有BadApple
    #progress
        #playProgress
        #downloadProgress
    p#playProgressText 播放进度:0/6570 【0.00%】
    p#downloadProgressText 缓冲进度:0/6570 【0.00%】
    img#play_button(src='images/play.png')
    img#stop_button(src='images/stop.png')
.screen
    p#play_window
audio#musicPlayer(src='./BadAppleMp3/BadApple.mp3')
